/* tree 의 전체 스타일 */
.navigator-tree {
/* 	depth 에 따라서 margin-left 를 조정해 줘야 한다. */
	margin-left: 6px;
	margin-top: 5px;
/* 	height: 100%; */
}

/* tree row 의 스타일 */
.navigator-tree-row {
/* 	background-color: red; */
/* 	height: 20px; */
}

/* tree row 가 폴딩되어 있는 표시(오른쪽으로 가는 화살표) */
.navigator-tree-row-folder-arrow {
	padding: 0;
	margin: 0;
	margin-top: 2px;
	width: 9px;
	height: 16px;
	background-position-x: -85px;
	background-image: url("/resource/images/icons_16x16.png");
	display: inline-block;
}

/* tree row 가 언폴딩 되어 있는 표시(아래쪽으로 가는 화살표) */
.navigator-tree-row-unfolder-arrow {
	padding: 0;
	margin: 0;
	margin-top: 1px;
	width: 9px;
	height: 16px;
	background-position-x: -68px;
	background-image: url("/resource/images/icons_16x16.png");
	display: inline-block;
}

/* tree row 가 leaf 이라는 표시(화살표가 없음) */
.navigator-tree-row-empy-arrow {
	padding: 0;
	margin: 0;
	margin-top: 1px;
	width: 9px;
	height: 16px;
	display: inline-block;
}

/* tree row leaf 요소의 표시 아이콘 */
.navigator-tree-row-static-icon {
	padding: 0;
	margin: 0;
	margin-left: 2px;
	width: 16px;
	height: 16px;
	background-position-x: -51px;
	background-image: url("/resource/images/icons_16x16.png");
	display: inline-block;
}

/* tree row 가 child 를 가지고 있다는 표시의 아이콘 */
.navigator-row-folder-icon {
	padding: 0;
	margin: 0;
	margin-top: 2px;
	margin-left: 2px;
	width: 16px;
	height: 16px;
	background-position-x: -34px;
	background-image: url("/resource/images/icons_16x16.png");
	display: inline-block;
}

/* tree row label 의 스타일 */
.navigator-tree-row-label {
	position:absolute;
	/* 이건 계산 해서 맞추어야 한다 */
	margin-top: 4px;
	/* 이것도 계산 해서 맞추어야 한다 */
	margin-left: 5px;
	padding:0;
	white-space: nowrap;
	word-break: break-all;
}