html, body, ul, li {
	margin: 0;
	padding: 0;
}

body {
	background-color: #EFEFEF;
}

ul {
	list-style: none;
}

input {
	outline: none;
	font-family: Helvetica, Arial, sans-serif;
/* 	color: #696969; */
	font-size: 12px;
	font-weight: normal;
}

/*--- 화면에 보여지는 모든 것을 포함하는 root 설정 ---*/
.window-container {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	cursor: default;
	
	font-family: Helvetica, Arial, sans-serif;
/* 	font-family: 돋음, Dotum, Baekmuk Dotum, Undotum, Apple Gothic, Latin font, sans-serif; */
	color: #696969;
	font-size: 12px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}


/*--- Buffer 나 임시 영역 설정 ---*/
/* buffer 용으로 사용할 영역 */
.window-buffer {
	position: absolute;
	left: -500px;
	right: -500px;
	width: 400px;
	height: 400px;
	display: none;
}
.window-hidden {
	display: none;
}

/* 페이지가 보여질 영역 */
.view-port-page {
	margin-left: 25px;
	margin-top: 25px;
	margin-right: 25px;
	min-width: 770px;
}

/* 페이지에서 타이틀 1번 */
.content-title1 {
	font-weight: normal;
	font-size: 18px;
	line-height: 35px;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
}

/* 도움말 박스 영역 */
.content-helper {
/* 	margin-left: 10px; */
/* 	margin-right: 10px; */
	border: 1px solid #D7D7D7;
}

/* 도움말 박스 영역에 들아갈 텍스트 스타일 */
.content-helper-text {
	padding-left: 10px;
	padding-right: 10px;
}

/* datatable 의 전체 style */
.content-datatable {
	font-size: 12px;
	font-weight: normal;
	width: 100%;
	table-layout: fixed;
}

/* datatable td 의 style */
.content-datatable td {
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

/* datatable 의 전체 style(non-fixed) */
.content-datatable-non-fixed {
	font-size: 12px;
	font-weight: normal;
	width: 100%;
}

/* datatable td 의 style(non-fixed) */
.content-datatable-non-fixed td {
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

/* datatable 의 row highlight(row 에 커서를 두었을 때) */
.datatable-highlight tbody tr.even:hover, .datatable-highlight tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}
.datatable-highlight tbody tr.odd:hover, .datatable-highlight tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}
.datatable-highlight tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}
.datatable-highlight tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

/* popup 발생시 가장 밑 바탕 */
.view-port-popup {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
}

/* popup 발생시 반투명 block 영역 */
.view-block {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
}

.view-popup-dialog {
	display: none;
}

.view-popup-stop-scrolling {
	height: 100%;
	overflow: hidden;
}

/* 컨텐츠 내용이 container 보여질 영역 */
.view-popup {
	display: none;
	position: relative;
	height: 100%;
}

/* 컨텐츠 내용이 보여질 실제 영역 */
.view-popup-content {
	margin-left: 25px;
	margin-right: 25px;
	height: 100%;
	background-color: #EFEFEF;
	overflow-y: auto;
	overflow-x: hidden;
}

/* popup 에서 사용하는 제목 */
.popup-sub-title {
	font-weight: normal;
	font-size: 18px;
	color: #4E6CA3;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #B0BED9;
}

/* 상세를 보여주는 detail table */
.view-detail-table {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 13px;
	font-weight: normal;
	width: calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	color: #696969;
	border-collapse: collapse;
	border-style: solid;
}

/* detail table 의 td 기본 style */
.view-detail-table td {
	border-style: dotted;
	height: 25px;
	padding-left: 10px;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

/* popup table 에서 attribute 의 이름. column */
.table-td-title {
	color: #4E6CA3;
	text-shadow: 0px 1px 1px white;
}

/* popup 에 포함되는 이미지 */
.view-popup-content img {
	margin-left: 20px;
}

/* popup close button */
.close-popup {
	margin-left: 20px;
	margin-right: 20px;
	width: calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
}